body{
font-family:Arial;
margin:0;
background:#f4f8fc;
}

.hidden{
display:none;
}

.container{
width:90%;
margin:auto;
}

.hero{
background:#0f3d91;
color:white;
padding:20px;
}

.brand{
display:flex;
align-items:center;
gap:15px;
}

.brand-logo-img{
width:60px;
}

.login-logo{
width:90px;
display:block;
margin:auto;
margin-bottom:10px;
}

.login-card{
width:320px;
margin:100px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
}

.login-card input{
width:100%;
padding:10px;
margin:10px 0;
}

.login-card button{
width:100%;
padding:10px;
background:#0f3d91;
color:white;
border:none;
cursor:pointer;
}

.nav{
background:white;
padding:10px;
display:flex;
gap:10px;
}

.nav button{
padding:10px;
cursor:pointer;
}

.page{
display:none;
padding:20px;
}

.page.active{
display:block;
}

.cert-logo{
width:120px;
display:block;
margin:auto;
margin-bottom:20px;
}

.certificate{
text-align:center;
background:white;
padding:40px;
margin:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}
