body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#0f3d91;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#1a4fb0;
padding:10px;
text-align:center;
}

nav button{
margin:5px;
padding:10px;
border:none;
background:white;
cursor:pointer;
}

section{
padding:20px;
}

input,select{
display:block;
margin:10px 0;
padding:10px;
width:300px;
}

button{
padding:10px;
background:#0f3d91;
color:white;
border:none;
}

table{
border-collapse:collapse;
width:100%;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:left;
}

.hide{
display:none;
}
